vti_encoding:SR|utf8-nl
vti_author:SR|METRASHEV\\Vladimir
vti_modifiedby:SR|METRASHEV\\Vladimir
vti_timelastmodified:TR|14 Apr 2014 16:42:07 -0000
vti_timecreated:TR|13 Apr 2014 18:05:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|WelcomePage.html AddNewEployee.html
vti_nexttolasttimemodified:TR|14 Apr 2014 15:56:49 -0000
vti_cacheddtm:TX|14 Apr 2014 16:42:07 -0000
vti_filesize:IR|1584
